html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*Font used for application */
 * {
  font-family: 'Roboto Condensed', sans-serif;
 }

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}

/*Tweet Container includes New Tweet Section (hidden on page load) and Posted Tweets*/
 body .tweet-container {
  margin-top: 80px;
  height: 100%;
  width: 450px;
  background-color: #FFFFFF;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
 }