.new-tweet {
    /*height: 9.5em;*/
    padding: 0.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #d4d1d1;
}

.new-tweet h2 {

    text-align: left;
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    margin-top: 0em;

}

.new-tweet .tweet {

    width: 366px;
    margin-bottom: 0.25em;
    /*height: 50px*/;
    padding: 0.25em;

}

.new-tweet form {
    display: inline-block;
}

.new-tweet form input {
    float: left;
    margin-top: 0.1em;
}

.new-tweet textarea {
    height: 75px;
}

.new-tweet textarea:focus {
    outline: none !important;
    border:1px solid red;
}

.new-tweet .counter {
    float: right;
    padding-right: 1em;
}

.negative {
    color: red;
}

#ring-girl {
    height: 300px;
    width: 400px;
    position: fixed;
    top: 25px;
    left:135px;
    z-index: 10;
}

.c-validation{
display: none;
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 1px !important;
  position: relative;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  color: white;
  font-size: 10px;
}
