.new-tweet {
  padding: 0.5em;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #d4d1d1;
}

/*User Full Name*/
.new-tweet h2 {
  text-align: left;
  border-bottom: 1px solid black;
  width: 100%;
  display: block;
  margin-top: 0em;
}

/*Form includes text area that has input, tweet button and character count*/
.new-tweet form {
  display: inline-block;
}

/*Tweet Button*/
.new-tweet form input {
  float: left;
  margin-top: 0.1em;
}

.new-tweet textarea {
  height: 75px;
  width: 366px;
  margin-bottom: 0.25em;
  padding: 0.25em;
}

/*Autofocus on Text Area*/
.new-tweet textarea:focus {
  outline: none !important;
  border:1px solid red;
}

/*Character Count under Text Area*/
.new-tweet .counter {
  float: right;
  padding-right: 1em;
}

/*Negative state for Character count > 140 */
.negative {
  color: red;
}

/*Error Message when Character count = 0 or >140 */
.c-validation {
  display: none;
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 1px !important;
  position: relative;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  color: white;
  font-size: 10px;
}

/*Surprise!*/
#ring-girl {
  height: 600px;
  width: 800px;
  position: fixed;
  top: 82px;
  left:360px;
  z-index: 10;
}
