/*Individual User Posted Tweet Body*/
#posted-tweets .user-tweet {
  opacity: 0.7;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 1em;
  height: 200px;
  width: 386px;
}

/*Posted User Tweet Hover State with Full Opacity*/
#posted-tweets .user-tweet:hover {
  opacity: 1;
}

#posted-tweets .user-tweet header {
  background-color: #f9f9f9;
  height: 75px;
  padding: 0.5em;
  border-radius: 5px;
}

/*User Avatar*/
#posted-tweets .user-tweet header #icon {
  float: left;
  border-radius: 5px;
}

/*User Name*/
#posted-tweets .user-tweet header h2 {
  float: left;
  margin-top: 0.1em;
  margin-left: 0.5em;
}

/*User Handle*/
#posted-tweets .user-tweet header h6 {
  float: right;
  margin-top: 1em;
  font-weight: 300;
  font-size: 12px;
}

#posted-tweets .user-tweet main {
  height: 85px;
  padding: 1em;
  position: relative;
  display: table;
  width: 386px;
}

/*Text in Posted Tweet*/
#posted-tweets .user-tweet main p {
  margin: 0em;
  width: 380px;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  word-wrap:break-word;
}

#posted-tweets .user-tweet footer {
  padding: 0.5em;
  border-top: 1px solid #f9f9f9;
  height: 39px;
  position: relative;
}

/*Time of Post*/
#posted-tweets .user-tweet footer h6 {
  float: left;
  font-weight: 300;
  margin: 0em;
  position: absolute;
  top: 10px;
}

/*Flag, Retweet and Like Icons which are hidden when not hovering*/
#posted-tweets .user-tweet footer i {
  float: right;
  color: teal;
  margin: 0em 0.25em;
  display: none;
}

/*Hover state for Footer Icons, which appear when hovering*/
#posted-tweets .user-tweet:hover footer i {
  display: inline-block;
  float: right;
  color: teal;
  margin: 0em 0.25em;
}
